.header {
	height: 60px;
	display: flex;
	align-items: center;
	background-color: #131921;
	position: sticky;
	top: 0;
	z-index: 100;
	position: sticky;
}

.header__logo {
	width: 100px;
	object-fit: contain;
	margin: 0 20px;
	margin-top: 18px;
}

.header__search {
	display: flex;
	flex: 1;
	align-items: center;
	border-radius: 24px;
}

.header__searchInput {
	height: 12px;
	padding: 10px;
	border: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	width: 100%;
}

.header__searchIcon {
	padding: 5px;
	height: 22px !important;
	background-color: #cd9842;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.header__nav {
	display: flex;
	justify-content: space-evenly;
}

.header__optionLineOne {
	font-size: 10px;
}

.header__optionLineTwo {
	font-size: 13px;
	font-weight: 800;
}

.header__optionsBasket {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 50px;
	border-radius: 50%;
	color: #ffffff;
	margin-right: 20px;
}

.header__optionLineTwo__basketCount {
	margin-right: 10px;
	margin-left: 10px;
}
.header__options {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-right: 10px;
	color: aliceblue;
}
